<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723581440577-am0b2l846io73deil7cj3g651aieqjbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723581440577-am0b2l846io73deil7cj3g651aieqjbl</string>
	<key>API_KEY</key>
	<string>AIzaSyA7UlOGtAPf2Bpve00-IxC5-Gylr56lp0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>723581440577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.http.fcm</string>
	<key>PROJECT_ID</key>
	<string>myfirebase-a5d22</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebase-a5d22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723581440577:ios:8812e20c1f120f4de72cc0</string>
	<key>DATABASE_URL</key>
	<string>https://myfirebase-a5d22.firebaseio.com</string>
</dict>
</plist>